# Merging Years 2012-2015

In [46]:
import pandas as pd

## Import all datasets needed for merge

In [47]:
nfl2012_2014 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2014merge.csv')

In [48]:
off2015 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2015_offense.csv')

In [49]:
def2015 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_off_def/NFL2015_defense.csv')

In [50]:
wl2015 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2015_wl.csv')

In [51]:
off2015.head()

,Unnamed: 0,Team,2015 Off Tot Pts,2015 Off Pts/G,2015 Off RushYds,2015 Off RYds/G,2015 Off PassYds,2015 Off PYds/G,2015 Off TotYds,2015 Off Yds/G
0,0,Arizona CardinalsArizona,489,30.6,1917,119.8,4616,288.5,6533,408.3
1,6,Atlanta FalconsAtlanta,339,21.2,1606,100.4,4379,273.7,5985,374.1
2,13,Baltimore RavensBaltimore,328,20.5,1478,92.4,4271,266.9,5749,359.3
3,12,Buffalo BillsBuffalo,379,23.7,2432,152.0,3343,208.9,5775,360.9
4,10,Carolina PanthersCarolina,500,31.2,2282,142.6,3589,224.3,5871,366.9

In [52]:
def2015.head()

,Unnamed: 0,Team,2015 Def Tot Pts,2015 Def Pts/G,2015 Def RushYds,2015 Def RYds/G,2015 Def PassYds,2015 Def PYds/G,2015 Def TotYds,2015 Def Yds/G
0,4,Arizona CardinalsArizona,313,19.6,1460,91.2,3687,230.4,5147,321.7
1,15,Atlanta FalconsAtlanta,345,21.6,1680,105.0,3882,242.6,5562,347.6
2,7,Baltimore RavensBaltimore,401,25.1,1661,103.8,3737,233.6,5398,337.4
3,18,Buffalo BillsBuffalo,359,22.4,1730,108.1,3972,248.2,5702,356.4
4,5,Carolina PanthersCarolina,308,19.2,1415,88.4,3752,234.5,5167,322.9

In [53]:
wl2015.head()

   Unnamed: 0               Team  Wins  Losses  Tie Superbowl SB Win  Year
0          30  Arizona Cardinals    13       3    0        No     No  2015
1          16    Atlanta Falcons     8       8    0        No     No  2015
2           4   Baltimore Ravens     5      11    0        No     No  2015
3          17      Buffalo Bills     8       8    0        No     No  2015
4          31  Carolina Panthers    15       1    0       Yes     No  2015

In [54]:
nfl2012_2014.head()

,Unnamed: 0,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

### Drop unnamed column from all datasets

In [55]:
nfl2012_2014 = nfl2012_2014.iloc[:, 1:]
off2015 = off2015.iloc[:, 1:]
def2015 = def2015.iloc[:, 1:]
wl2015 = wl2015.iloc[:, 1:]

In [56]:
nfl2012_2014.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [57]:
off2015.head()

,Team,2015 Off Tot Pts,2015 Off Pts/G,2015 Off RushYds,2015 Off RYds/G,2015 Off PassYds,2015 Off PYds/G,2015 Off TotYds,2015 Off Yds/G
0,Arizona CardinalsArizona,489,30.6,1917,119.8,4616,288.5,6533,408.3
1,Atlanta FalconsAtlanta,339,21.2,1606,100.4,4379,273.7,5985,374.1
2,Baltimore RavensBaltimore,328,20.5,1478,92.4,4271,266.9,5749,359.3
3,Buffalo BillsBuffalo,379,23.7,2432,152.0,3343,208.9,5775,360.9
4,Carolina PanthersCarolina,500,31.2,2282,142.6,3589,224.3,5871,366.9

In [58]:
def2015.head()

,Team,2015 Def Tot Pts,2015 Def Pts/G,2015 Def RushYds,2015 Def RYds/G,2015 Def PassYds,2015 Def PYds/G,2015 Def TotYds,2015 Def Yds/G
0,Arizona CardinalsArizona,313,19.6,1460,91.2,3687,230.4,5147,321.7
1,Atlanta FalconsAtlanta,345,21.6,1680,105.0,3882,242.6,5562,347.6
2,Baltimore RavensBaltimore,401,25.1,1661,103.8,3737,233.6,5398,337.4
3,Buffalo BillsBuffalo,359,22.4,1730,108.1,3972,248.2,5702,356.4
4,Carolina PanthersCarolina,308,19.2,1415,88.4,3752,234.5,5167,322.9

In [59]:
wl2015.head()

                Team  Wins  Losses  Tie Superbowl SB Win  Year
0  Arizona Cardinals    13       3    0        No     No  2015
1    Atlanta Falcons     8       8    0        No     No  2015
2   Baltimore Ravens     5      11    0        No     No  2015
3      Buffalo Bills     8       8    0        No     No  2015
4  Carolina Panthers    15       1    0       Yes     No  2015

### Rename columns in off/def datasets

In [60]:
offense2015 = off2015.rename(columns ={"2015 Off Tot Pts": "Off Tot/Pts", "2015 Off Pts/G": "Off Pts/G",
                                                     "2015 Off RushYds": "Off RushYds", "2015 Off RYds/G": "Off RYds/G",
                                                     "2015 Off PassYds": "Off PassYds", "2015 Off PYds/G": "Off PYds/G",
                                                     "2015 Off TotYds": "Off TotYds", "2015 Off Yds/G": "Off Yds/G"})
defense2015 = def2015.rename(columns ={"2015 Def Tot Pts": "Def Tot/Pts", "2015 Def Pts/G": "Def Pts/G",
                                                     "2015 Def RushYds": "Def RushYds", "2015 Def RYds/G": "Def RYds/G",
                                                     "2015 Def PassYds": "Def PassYds", "2015 Def PYds/G": "Def PYds/G",
                                                     "2015 Def TotYds": "Def TotYds", "2015 Def Yds/G": "Def Yds/G"})

In [61]:
offense2015.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G
0,Arizona CardinalsArizona,489,30.6,1917,119.8,4616,288.5,6533,408.3
1,Atlanta FalconsAtlanta,339,21.2,1606,100.4,4379,273.7,5985,374.1
2,Baltimore RavensBaltimore,328,20.5,1478,92.4,4271,266.9,5749,359.3
3,Buffalo BillsBuffalo,379,23.7,2432,152.0,3343,208.9,5775,360.9
4,Carolina PanthersCarolina,500,31.2,2282,142.6,3589,224.3,5871,366.9

In [62]:
defense2015.head()

,Team,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,313,19.6,1460,91.2,3687,230.4,5147,321.7
1,Atlanta FalconsAtlanta,345,21.6,1680,105.0,3882,242.6,5562,347.6
2,Baltimore RavensBaltimore,401,25.1,1661,103.8,3737,233.6,5398,337.4
3,Buffalo BillsBuffalo,359,22.4,1730,108.1,3972,248.2,5702,356.4
4,Carolina PanthersCarolina,308,19.2,1415,88.4,3752,234.5,5167,322.9

### Merge Offense and Defense Data

In [63]:
off_def2015 = pd.merge(offense2015, defense2015, on='Team')

In [64]:
off_def2015.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
0,Arizona CardinalsArizona,489,30.6,1917,119.8,4616,288.5,6533,408.3,313,19.6,1460,91.2,3687,230.4,5147,321.7
1,Atlanta FalconsAtlanta,339,21.2,1606,100.4,4379,273.7,5985,374.1,345,21.6,1680,105.0,3882,242.6,5562,347.6
2,Baltimore RavensBaltimore,328,20.5,1478,92.4,4271,266.9,5749,359.3,401,25.1,1661,103.8,3737,233.6,5398,337.4
3,Buffalo BillsBuffalo,379,23.7,2432,152.0,3343,208.9,5775,360.9,359,22.4,1730,108.1,3972,248.2,5702,356.4
4,Carolina PanthersCarolina,500,31.2,2282,142.6,3589,224.3,5871,366.9,308,19.2,1415,88.4,3752,234.5,5167,322.9

### Rename Teams to match merge data

In [65]:
teamnames15 = {'Arizona CardinalsArizona': 'Arizona Cardinals', 'Atlanta FalconsAtlanta': 'Atlanta Falcons', 
             'Baltimore RavensBaltimore': 'Baltimore Ravens', 'Buffalo BillsBuffalo': 'Buffalo Bills',
            'Carolina PanthersCarolina': 'Carolina Panthers', 'Chicago BearsChicago': 'Chicago Bears',
            'Cincinnati BengalsCincinnati': 'Cincinnati Bengals', 'Cleveland BrownsCleveland': 'Cleveland Browns',
            'Dallas CowboysDallas': 'Dallas Cowboys', 'Denver BroncosDenver': 'Denver Broncos', 
             'Detroit LionsDetroit': 'Detroit Lions', 'Green Bay PackersGreen Bay': 'Green Bay Packers',
            'Houston TexansHouston': 'Houston Texans', 'Indianapolis ColtsIndianapolis': 'Indianapolis Colts',
            'Jacksonville JaguarsJacksonville': 'Jacksonville Jaguars', 'Kansas City ChiefsKansas City': 'Kansas City Chiefs',
            'Miami DolphinsMiami': 'Miami Dolphins', 'Minnesota VikingsMinnesota': 'Minnesota Vikings', 
            'New England PatriotsNew England': 'New England Patriots', 'New Orleans SaintsNew Orleans': 'New Orleans Saints',
            'New York GiantsNY Giants': 'New York Giants', 'New York JetsNY Jets': 'New York Jets', 
            'Oakland RaidersOakland': 'Las Vegas Raiders', 'Philadelphia EaglesPhiladelphia': 'Philadelphia Eagles',
            'Pittsburgh SteelersPittsburgh': 'Pittsburgh Steelers', 'San Diego ChargersSan Diego': 'Los Angeles Chargers',
            'San Francisco 49ersSan Francisco': 'San Francisco 49ers', 'Seattle SeahawksSeattle': 'Seattle Seahawks',
            'St. Louis RamsSt. Louis': 'Los Angeles Rams', 
            'Tampa Bay BuccaneersTampa Bay': 'Tampa Bay Buccaneers', 'Tennessee TitansTennessee': 'Tennessee Titans',
            'Washington RedskinsWashington': 'Washington Commanders'}
off_def2015['Team'] = off_def2015['Team'].replace(teamnames15)

In [66]:
off_def2015.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
16,Miami Dolphins,310,19.4,1496,93.5,3811,238.2,5307,331.7,389,24.3,2019,126.2,4000,250.0,6019,376.2
17,Minnesota Vikings,365,22.8,2211,138.2,2928,183.0,5139,321.2,302,18.9,1748,109.2,3759,234.9,5507,344.2
18,New England Patriots,465,29.1,1404,87.8,4587,286.7,5991,374.4,315,19.7,1580,98.8,3851,240.7,5431,339.4
19,New Orleans Saints,408,25.5,1491,93.2,4970,310.6,6461,403.8,476,29.8,2071,129.4,4544,284.0,6615,413.4
20,New York Giants,420,26.2,1609,100.6,4343,271.4,5952,372.0,442,27.6,1942,121.4,4783,298.9,6725,420.3
21,New York Jets,387,24.2,1868,116.8,4057,253.6,5925,370.3,314,19.6,1335,83.4,3763,235.2,5098,318.6
22,Las Vegas Raiders,359,22.4,1457,91.1,3879,242.4,5336,333.5,399,24.9,1678,104.9,4140,258.8,5818,363.6
23,Philadelphia Eagles,377,23.6,1743,108.9,4087,255.4,5830,364.4,430,26.9,2153,134.6,4273,267.1,6426,401.6
24,Pittsburgh Steelers,423,26.4,1724,107.8,4603,287.7,6327,395.4,319,19.9,1459,91.2,4350,271.9,5809,363.1
25,Los Angeles Chargers,320,20.0,1358,84.9,4591,286.9,5949,371.8,398,24.9,2005,125.3,3786,236.6,5791,361.9
26,San Francisco 49ers,238,14.9,1544,96.5,3316,207.2,4860,303.8,387,24.2,2020,126.2,4179,261.2,6199,387.4
27,Seattle Seahawks,423,26.4,2268,141.8,3790,236.9,6058,378.6,277,17.3,1304,81.5,3364,210.2,4668,291.8
28,Los Angeles Rams,280,17.5,1956,122.2,2805,175.3,4761,297.6,330,20.6,1820,113.8,4065,254.1,5885,367.8
29,Tampa Bay Buccaneers,342,21.4,2162,135.1,3852,240.8,6014,375.9,417,26.1,1606,100.4,3840,240.0,5446,340.4
30,Tennessee Titans,299,18.7,1485,92.8,3503,218.9,4988,311.8,423,26.4,1797,112.3,3678,229.9,5475,342.2
31,Washington Commanders,388,24.2,1566,97.9,4095,255.9,5661,353.8,379,23.7,1962,122.6,4128,258.0,6090,380.6

### Put Dataset in Team Ascending Order

In [67]:
off_def2015 = off_def2015.sort_values("Team")

In [68]:
off_def2015.tail(16)

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,Def Pts/G,Def RushYds,Def RYds/G,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G
22,Las Vegas Raiders,359,22.4,1457,91.1,3879,242.4,5336,333.5,399,24.9,1678,104.9,4140,258.8,5818,363.6
25,Los Angeles Chargers,320,20.0,1358,84.9,4591,286.9,5949,371.8,398,24.9,2005,125.3,3786,236.6,5791,361.9
28,Los Angeles Rams,280,17.5,1956,122.2,2805,175.3,4761,297.6,330,20.6,1820,113.8,4065,254.1,5885,367.8
16,Miami Dolphins,310,19.4,1496,93.5,3811,238.2,5307,331.7,389,24.3,2019,126.2,4000,250.0,6019,376.2
17,Minnesota Vikings,365,22.8,2211,138.2,2928,183.0,5139,321.2,302,18.9,1748,109.2,3759,234.9,5507,344.2
18,New England Patriots,465,29.1,1404,87.8,4587,286.7,5991,374.4,315,19.7,1580,98.8,3851,240.7,5431,339.4
19,New Orleans Saints,408,25.5,1491,93.2,4970,310.6,6461,403.8,476,29.8,2071,129.4,4544,284.0,6615,413.4
20,New York Giants,420,26.2,1609,100.6,4343,271.4,5952,372.0,442,27.6,1942,121.4,4783,298.9,6725,420.3
21,New York Jets,387,24.2,1868,116.8,4057,253.6,5925,370.3,314,19.6,1335,83.4,3763,235.2,5098,318.6
23,Philadelphia Eagles,377,23.6,1743,108.9,4087,255.4,5830,364.4,430,26.9,2153,134.6,4273,267.1,6426,401.6
24,Pittsburgh Steelers,423,26.4,1724,107.8,4603,287.7,6327,395.4,319,19.9,1459,91.2,4350,271.9,5809,363.1
26,San Francisco 49ers,238,14.9,1544,96.5,3316,207.2,4860,303.8,387,24.2,2020,126.2,4179,261.2,6199,387.4
27,Seattle Seahawks,423,26.4,2268,141.8,3790,236.9,6058,378.6,277,17.3,1304,81.5,3364,210.2,4668,291.8
29,Tampa Bay Buccaneers,342,21.4,2162,135.1,3852,240.8,6014,375.9,417,26.1,1606,100.4,3840,240.0,5446,340.4
30,Tennessee Titans,299,18.7,1485,92.8,3503,218.9,4988,311.8,423,26.4,1797,112.3,3678,229.9,5475,342.2
31,Washington Commanders,388,24.2,1566,97.9,4095,255.9,5661,353.8,379,23.7,1962,122.6,4128,258.0,6090,380.6

### Merge with Win/Loss Data

In [69]:
nfl2015 = pd.merge(off_def2015, wl2015, on="Team")

In [70]:
nfl2015.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Wins,Losses,Tie,Superbowl,SB Win,Year
0,Arizona Cardinals,489,30.6,1917,119.8,4616,288.5,6533,408.3,313,...,3687,230.4,5147,321.7,13,3,0,No,No,2015
1,Atlanta Falcons,339,21.2,1606,100.4,4379,273.7,5985,374.1,345,...,3882,242.6,5562,347.6,8,8,0,No,No,2015
2,Baltimore Ravens,328,20.5,1478,92.4,4271,266.9,5749,359.3,401,...,3737,233.6,5398,337.4,5,11,0,No,No,2015
3,Buffalo Bills,379,23.7,2432,152.0,3343,208.9,5775,360.9,359,...,3972,248.2,5702,356.4,8,8,0,No,No,2015
4,Carolina Panthers,500,31.2,2282,142.6,3589,224.3,5871,366.9,308,...,3752,234.5,5167,322.9,15,1,0,Yes,No,2015

### Save Dataset to Mac for future use

In [71]:
nfl2015.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2015complete.csv')

### Merge 2012-2015 Data

In [72]:
nfl2012_2015 = pd.concat([nfl2012_2014, nfl2015], axis=0, join='outer', ignore_index='True')

In [73]:
nfl2012_2015.head()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
0,Arizona Cardinals,250,15.6,1204,75.2,3005,187.8,4209,263.1,357,...,3213,200.8,5405,337.8,2012,5,11,0,No,No
1,Atlanta Falcons,419,26.2,1397,87.3,4509,281.8,5906,369.1,299,...,3878,242.4,5849,365.6,2012,13,3,0,No,No
2,Baltimore Ravens,398,24.9,1901,118.8,3739,233.7,5640,352.5,344,...,3650,228.1,5615,350.9,2012,10,6,0,Yes,Yes
3,Buffalo Bills,344,21.5,2217,138.6,3269,204.3,5486,342.9,435,...,3473,217.1,5806,362.9,2012,6,10,0,No,No
4,Carolina Panthers,357,22.3,2088,130.5,3683,230.2,5771,360.7,363,...,3568,223.0,5329,333.1,2012,7,9,0,No,No

In [74]:
nfl2012_2015.tail()

,Team,Off Tot/Pts,Off Pts/G,Off RushYds,Off RYds/G,Off PassYds,Off PYds/G,Off TotYds,Off Yds/G,Def Tot/Pts,...,Def PassYds,Def PYds/G,Def TotYds,Def Yds/G,Year,Wins,Losses,Tie,Superbowl,SB Win
123,San Francisco 49ers,238,14.9,1544,96.5,3316,207.2,4860,303.8,387,...,4179,261.2,6199,387.4,2015,5,11,0,No,No
124,Seattle Seahawks,423,26.4,2268,141.8,3790,236.9,6058,378.6,277,...,3364,210.2,4668,291.8,2015,10,6,0,No,No
125,Tampa Bay Buccaneers,342,21.4,2162,135.1,3852,240.8,6014,375.9,417,...,3840,240.0,5446,340.4,2015,6,10,0,No,No
126,Tennessee Titans,299,18.7,1485,92.8,3503,218.9,4988,311.8,423,...,3678,229.9,5475,342.2,2015,3,13,0,No,No
127,Washington Commanders,388,24.2,1566,97.9,4095,255.9,5661,353.8,379,...,4128,258.0,6090,380.6,2015,9,7,0,No,No

### Save Dataset for future use

In [75]:
nfl2012_2015.to_csv('/Users/admin/Desktop/Final_Project/NFL_merged/nfl2012_2015merge.csv')