# Phase Four Final Project Data Wrangling

### Import Packages

In [37]:
import pandas as pd
import numpy as np

## Import First Dataset 2012 Win/Loss Record

In [3]:
wl2012 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2012.csv')

In [4]:
wl2012.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Jacksonville Jaguars,2,14,0,0.125,255,444,-189,1 - 7 - 0,1 - 7 - 0,2 - 4 - 0,0.333,2 - 10 - 0,0.167,0 - 4 - 0,5L,0 - 5 - 0,2012
1,Kansas City Chiefs,2,14,0,0.125,211,425,-214,1 - 7 - 0,1 - 7 - 0,0 - 6 - 0,0.000,0 - 12 - 0,0.000,2 - 2 - 0,4L,1 - 4 - 0,2012
2,Detroit Lions,4,12,0,0.250,372,437,-65,2 - 6 - 0,2 - 6 - 0,0 - 6 - 0,0.000,3 - 9 - 0,0.250,1 - 3 - 0,8L,0 - 5 - 0,2012
3,Las Vegas Raiders,4,12,0,0.250,290,443,-153,3 - 5 - 0,1 - 7 - 0,2 - 4 - 0,0.333,4 - 8 - 0,0.333,0 - 4 - 0,2L,1 - 4 - 0,2012
4,Philadelphia Eagles,4,12,0,0.250,280,444,-164,2 - 6 - 0,2 - 6 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,2 - 2 - 0,3L,1 - 4 - 0,2012

### Put Dataset in Team Ascending Order

In [5]:
wl2012_sort = wl2012.sort_values("NFL Team")

In [6]:
wl2012_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
5,Arizona Cardinals,5,11,0,0.313,250,357,-107,4 - 4 - 0,1 - 7 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,2 - 2 - 0,2L,1 - 4 - 0,2012
30,Atlanta Falcons,13,3,0,0.813,419,299,120,7 - 1 - 0,6 - 2 - 0,3 - 3 - 0,0.500,9 - 3 - 0,0.750,4 - 0 - 0,1L,3 - 2 - 0,2012
19,Baltimore Ravens,10,6,0,0.625,398,344,54,6 - 2 - 0,4 - 4 - 0,4 - 2 - 0,0.667,8 - 4 - 0,0.667,2 - 2 - 0,1L,1 - 4 - 0,2012
7,Buffalo Bills,6,10,0,0.375,344,435,-91,4 - 4 - 0,2 - 6 - 0,2 - 4 - 0,0.333,5 - 7 - 0,0.417,1 - 3 - 0,1W,2 - 3 - 0,2012
10,Carolina Panthers,7,9,0,0.438,357,363,-6,3 - 5 - 0,4 - 4 - 0,3 - 3 - 0,0.500,5 - 7 - 0,0.417,2 - 2 - 0,4W,4 - 1 - 0,2012

### Only Keep Team, Win, Lose, Tie Columns

In [7]:
wl2012_keep = wl2012_sort[['NFL Team', 'W', 'L', 'T']]

In [8]:
wl2012_keep.head()

             NFL Team   W   L  T
5   Arizona Cardinals   5  11  0
30    Atlanta Falcons  13   3  0
19   Baltimore Ravens  10   6  0
7       Buffalo Bills   6  10  0
10  Carolina Panthers   7   9  0

### Rename columns - add year and change NFL Team to Team

In [9]:
NFL2012_wl = wl2012_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [10]:
NFL2012_wl.head()

                 Team  Wins  Losses  Tie
5   Arizona Cardinals     5      11    0
30    Atlanta Falcons    13       3    0
19   Baltimore Ravens    10       6    0
7       Buffalo Bills     6      10    0
10  Carolina Panthers     7       9    0

### Add Superbowl Appearance Column

In [11]:
superbowlappearance = ['No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No''No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No']
NFL2012_wl['Superbowl'] = superbowlappearance

In [12]:
NFL2012_wl.head()

                 Team  Wins  Losses  Tie Superbowl
5   Arizona Cardinals     5      11    0        No
30    Atlanta Falcons    13       3    0        No
19   Baltimore Ravens    10       6    0       Yes
7       Buffalo Bills     6      10    0        No
10  Carolina Panthers     7       9    0        No

In [13]:
NFL2012_wl.tail(8)

                     Team  Wins  Losses  Tie Superbowl
8           New York Jets     6      10    0        No
4     Philadelphia Eagles     4      12    0        No
17    Pittsburgh Steelers     8       8    0        No
26    San Francisco 49ers    11       4    1       Yes
27       Seattle Seahawks    11       5    0        No
15   Tampa Bay Buccaneers     7       9    0        No
9        Tennessee Titans     6      10    0        No
23  Washington Commanders    10       6    0        No

### Add Superbowl Win column

In [14]:
superbowlwin = ['No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No''No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']
NFL2012_wl['SB Win'] = superbowlwin

In [15]:
NFL2012_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win
5   Arizona Cardinals     5      11    0        No     No
30    Atlanta Falcons    13       3    0        No     No
19   Baltimore Ravens    10       6    0       Yes    Yes
7       Buffalo Bills     6      10    0        No     No
10  Carolina Panthers     7       9    0        No     No

In [16]:
NFL2012_wl.tail(8)

                     Team  Wins  Losses  Tie Superbowl SB Win
8           New York Jets     6      10    0        No     No
4     Philadelphia Eagles     4      12    0        No     No
17    Pittsburgh Steelers     8       8    0        No     No
26    San Francisco 49ers    11       4    1       Yes     No
27       Seattle Seahawks    11       5    0        No     No
15   Tampa Bay Buccaneers     7       9    0        No     No
9        Tennessee Titans     6      10    0        No     No
23  Washington Commanders    10       6    0        No     No

### Add Year Column

In [2]:
datayear = 2012
NFL2012_wl['Year'] = datayear

NameError: name 'NFL2012_wl' is not defined

In [3]:
NFL2012_wl.head()

NameError: name 'NFL2012_wl' is not defined

### Save to Mac for future merging

In [38]:
NFL2012_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL2012_wl.csv')

## Import Next Dataset 2013 Win/Loss Record

In [22]:
wl2013 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2013.csv')

In [23]:
wl2013.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Houston Texans,2,14,0,0.125,276,428,-152,1 - 7 - 0,1 - 7 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,0 - 4 - 0,14L,0 - 5 - 0,2013
1,Washington Commanders,3,13,0,0.188,334,478,-144,2 - 6 - 0,1 - 7 - 0,0 - 6 - 0,0.000,1 - 11 - 0,0.083,2 - 2 - 0,8L,0 - 5 - 0,2013
2,Atlanta Falcons,4,12,0,0.250,353,443,-90,3 - 5 - 0,1 - 7 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,1 - 3 - 0,2L,2 - 3 - 0,2013
3,Cleveland Browns,4,12,0,0.250,308,406,-98,3 - 5 - 0,1 - 7 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,7L,0 - 5 - 0,2013
4,Jacksonville Jaguars,4,12,0,0.250,247,449,-202,1 - 7 - 0,3 - 5 - 0,3 - 3 - 0,0.500,4 - 8 - 0,0.333,0 - 4 - 0,3L,2 - 3 - 0,2013

### Put Dataset in Team Ascending Order

In [24]:
wl2013_sort = wl2013.sort_values("NFL Team")

In [25]:
wl2013_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
21,Arizona Cardinals,10,6,0,0.625,379,324,55,6 - 2 - 0,4 - 4 - 0,2 - 4 - 0,0.333,6 - 6 - 0,0.500,4 - 0 - 0,1L,3 - 2 - 0,2013
2,Atlanta Falcons,4,12,0,0.250,353,443,-90,3 - 5 - 0,1 - 7 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,1 - 3 - 0,2L,2 - 3 - 0,2013
13,Baltimore Ravens,8,8,0,0.500,320,352,-32,6 - 2 - 0,2 - 6 - 0,3 - 3 - 0,0.500,6 - 6 - 0,0.500,2 - 2 - 0,2L,3 - 2 - 0,2013
8,Buffalo Bills,6,10,0,0.375,339,388,-49,4 - 4 - 0,2 - 6 - 0,3 - 3 - 0,0.500,5 - 7 - 0,0.417,1 - 3 - 0,1L,2 - 3 - 0,2013
27,Carolina Panthers,12,4,0,0.750,366,241,125,7 - 1 - 0,5 - 3 - 0,5 - 1 - 0,0.833,9 - 3 - 0,0.750,3 - 1 - 0,3W,4 - 1 - 0,2013

### Only Keep Win, Lose, and Tie Columns

In [26]:
wl2013_keep = wl2013_sort[['NFL Team', 'W', 'L', 'T']]

In [27]:
wl2013_keep.head()

             NFL Team   W   L  T
21  Arizona Cardinals  10   6  0
2     Atlanta Falcons   4  12  0
13   Baltimore Ravens   8   8  0
8       Buffalo Bills   6  10  0
27  Carolina Panthers  12   4  0

### Rename columns

In [28]:
NFL_2013_wl = wl2013_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [29]:
NFL_2013_wl.head(32)

                     Team  Wins  Losses  Tie
21      Arizona Cardinals    10       6    0
2         Atlanta Falcons     4      12    0
13       Baltimore Ravens     8       8    0
8           Buffalo Bills     6      10    0
27      Carolina Panthers    12       4    0
14          Chicago Bears     8       8    0
23     Cincinnati Bengals    11       5    0
3        Cleveland Browns     4      12    0
15         Dallas Cowboys     8       8    0
30         Denver Broncos    13       3    0
9           Detroit Lions     7       9    0
16      Green Bay Packers     8       7    1
0          Houston Texans     2      14    0
24     Indianapolis Colts    11       5    0
4    Jacksonville Jaguars     4      12    0
25     Kansas City Chiefs    11       5    0
5       Las Vegas Raiders     4      12    0
20   Los Angeles Chargers     9       7    0
10       Los Angeles Rams     7       9    0
17         Miami Dolphins     8       8    0
7       Minnesota Vikings     5      10    1
28   New England Patriots    12       4    0
26     New Orleans Saints    11       5    0
11        New York Giants     7       9    0
18          New York Jets     8       8    0
22    Philadelphia Eagles    10       6    0
19    Pittsburgh Steelers     8       8    0
29    San Francisco 49ers    12       4    0
31       Seattle Seahawks    13       3    0
6    Tampa Bay Buccaneers     4      12    0
12       Tennessee Titans     7       9    0
1   Washington Commanders     3      13    0

### Add Superbowl Appearance Column

In [30]:
superbowlappearance13 = ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No']
NFL_2013_wl['Superbowl'] = superbowlappearance13

In [31]:
NFL_2013_wl.head(32)

                     Team  Wins  Losses  Tie Superbowl
21      Arizona Cardinals    10       6    0        No
2         Atlanta Falcons     4      12    0        No
13       Baltimore Ravens     8       8    0        No
8           Buffalo Bills     6      10    0        No
27      Carolina Panthers    12       4    0        No
14          Chicago Bears     8       8    0        No
23     Cincinnati Bengals    11       5    0        No
3        Cleveland Browns     4      12    0        No
15         Dallas Cowboys     8       8    0        No
30         Denver Broncos    13       3    0       Yes
9           Detroit Lions     7       9    0        No
16      Green Bay Packers     8       7    1        No
0          Houston Texans     2      14    0        No
24     Indianapolis Colts    11       5    0        No
4    Jacksonville Jaguars     4      12    0        No
25     Kansas City Chiefs    11       5    0        No
5       Las Vegas Raiders     4      12    0        No
20   Los Angeles Chargers     9       7    0        No
10       Los Angeles Rams     7       9    0        No
17         Miami Dolphins     8       8    0        No
7       Minnesota Vikings     5      10    1        No
28   New England Patriots    12       4    0        No
26     New Orleans Saints    11       5    0        No
11        New York Giants     7       9    0        No
18          New York Jets     8       8    0        No
22    Philadelphia Eagles    10       6    0        No
19    Pittsburgh Steelers     8       8    0        No
29    San Francisco 49ers    12       4    0        No
31       Seattle Seahawks    13       3    0       Yes
6    Tampa Bay Buccaneers     4      12    0        No
12       Tennessee Titans     7       9    0        No
1   Washington Commanders     3      13    0        No

### Add Superbowl Win Column

In [32]:
superbowlwin13 = ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No']
NFL_2013_wl['SB Win'] = superbowlwin13

In [33]:
NFL_2013_wl.head(32)

                     Team  Wins  Losses  Tie Superbowl SB Win
21      Arizona Cardinals    10       6    0        No     No
2         Atlanta Falcons     4      12    0        No     No
13       Baltimore Ravens     8       8    0        No     No
8           Buffalo Bills     6      10    0        No     No
27      Carolina Panthers    12       4    0        No     No
14          Chicago Bears     8       8    0        No     No
23     Cincinnati Bengals    11       5    0        No     No
3        Cleveland Browns     4      12    0        No     No
15         Dallas Cowboys     8       8    0        No     No
30         Denver Broncos    13       3    0       Yes     No
9           Detroit Lions     7       9    0        No     No
16      Green Bay Packers     8       7    1        No     No
0          Houston Texans     2      14    0        No     No
24     Indianapolis Colts    11       5    0        No     No
4    Jacksonville Jaguars     4      12    0        No     No
25     Kansas City Chiefs    11       5    0        No     No
5       Las Vegas Raiders     4      12    0        No     No
20   Los Angeles Chargers     9       7    0        No     No
10       Los Angeles Rams     7       9    0        No     No
17         Miami Dolphins     8       8    0        No     No
7       Minnesota Vikings     5      10    1        No     No
28   New England Patriots    12       4    0        No     No
26     New Orleans Saints    11       5    0        No     No
11        New York Giants     7       9    0        No     No
18          New York Jets     8       8    0        No     No
22    Philadelphia Eagles    10       6    0        No     No
19    Pittsburgh Steelers     8       8    0        No     No
29    San Francisco 49ers    12       4    0        No     No
31       Seattle Seahawks    13       3    0       Yes    Yes
6    Tampa Bay Buccaneers     4      12    0        No     No
12       Tennessee Titans     7       9    0        No     No
1   Washington Commanders     3      13    0        No     No

### Add Year Column

In [34]:
datayear13 = 2013
NFL2012_wl['Year'] = datayear13

In [35]:
NFL2012_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
5   Arizona Cardinals     5      11    0        No     No  2013
30    Atlanta Falcons    13       3    0        No     No  2013
19   Baltimore Ravens    10       6    0       Yes    Yes  2013
7       Buffalo Bills     6      10    0        No     No  2013
10  Carolina Panthers     7       9    0        No     No  2013

### Save Dataset to Mac for future merging

In [39]:
NFL_2013_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2013_wl.csv')

## Import Next Dataset 2014 Win/Loss Record

In [40]:
wl2014 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2014.csv')

In [41]:
wl2014.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Tampa Bay Buccaneers,2,14,0,0.125,277,410,-133,0 - 8 - 0,2 - 6 - 0,0 - 6 - 0,0.000,1 - 11 - 0,0.083,1 - 3 - 0,6L,0 - 5 - 0,2014
1,Tennessee Titans,2,14,0,0.125,254,438,-184,1 - 7 - 0,1 - 7 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,0 - 4 - 0,10L,0 - 5 - 0,2014
2,Jacksonville Jaguars,3,13,0,0.188,249,412,-163,3 - 5 - 0,0 - 8 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,1 - 3 - 0,1L,2 - 3 - 0,2014
3,Las Vegas Raiders,3,13,0,0.188,253,452,-199,3 - 5 - 0,0 - 8 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,1 - 3 - 0,1L,2 - 3 - 0,2014
4,New York Jets,4,12,0,0.250,283,401,-118,2 - 6 - 0,2 - 6 - 0,1 - 5 - 0,0.167,4 - 8 - 0,0.333,0 - 4 - 0,1W,2 - 3 - 0,2014

### Put Dataset in Team Ascending Order

In [42]:
wl2014_sort = wl2014.sort_values("NFL Team")

In [43]:
wl2014_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
23,Arizona Cardinals,11,5,0,0.688,310,299,11,7 - 1 - 0,4 - 4 - 0,3 - 3 - 0,0.500,8 - 4 - 0,0.667,3 - 1 - 0,2L,2 - 3 - 0,2014
7,Atlanta Falcons,6,10,0,0.375,381,417,-36,3 - 5 - 0,3 - 5 - 0,5 - 1 - 0,0.833,6 - 6 - 0,0.500,0 - 4 - 0,1L,2 - 3 - 0,2014
20,Baltimore Ravens,10,6,0,0.625,409,302,107,6 - 2 - 0,4 - 4 - 0,3 - 3 - 0,0.500,6 - 6 - 0,0.500,4 - 0 - 0,1W,3 - 2 - 0,2014
16,Buffalo Bills,9,7,0,0.563,343,289,54,5 - 3 - 0,4 - 4 - 0,4 - 2 - 0,0.667,5 - 7 - 0,0.417,4 - 0 - 0,1W,3 - 2 - 0,2014
10,Carolina Panthers,7,8,1,0.469,339,374,-35,4 - 4 - 0,3 - 4 - 1,4 - 2 - 0,0.667,6 - 6 - 0,0.500,1 - 2 - 1,4W,4 - 1 - 0,2014

### Keep NFL Team, Win, Lose, Tie and Year Columns

In [44]:
wl2014_keep = wl2014_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [45]:
wl2014_keep.head()

             NFL Team   W   L  T  Year
23  Arizona Cardinals  11   5  0  2014
7     Atlanta Falcons   6  10  0  2014
20   Baltimore Ravens  10   6  0  2014
16      Buffalo Bills   9   7  0  2014
10  Carolina Panthers   7   8  1  2014

### Rename Columns

In [46]:
NFL_2014_wl = wl2014_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [47]:
NFL_2014_wl.head()

                 Team  Wins  Losses  Tie  Year
23  Arizona Cardinals    11       5    0  2014
7     Atlanta Falcons     6      10    0  2014
20   Baltimore Ravens    10       6    0  2014
16      Buffalo Bills     9       7    0  2014
10  Carolina Panthers     7       8    1  2014

### Add Superbowl and SB Win columns to dataset

In [65]:
newcolumns14 = {'Superbowl':['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'Yes','No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'Yes','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2014_wl = NFL_2014_wl.assign(**newcolumns14)

In [66]:
NFL_2014_wl.head(32)

                     Team  Wins  Losses  Tie Superbowl SB Win  Year
23      Arizona Cardinals    11       5    0        No     No  2014
7         Atlanta Falcons     6      10    0        No     No  2014
20       Baltimore Ravens    10       6    0        No     No  2014
16          Buffalo Bills     9       7    0        No     No  2014
10      Carolina Panthers     7       8    1        No     No  2014
6           Chicago Bears     5      11    0        No     No  2014
21     Cincinnati Bengals    10       5    1        No     No  2014
11       Cleveland Browns     7       9    0        No     No  2014
27         Dallas Cowboys    12       4    0        No     No  2014
28         Denver Broncos    12       4    0        No     No  2014
24          Detroit Lions    11       5    0        No     No  2014
29      Green Bay Packers    12       4    0        No     No  2014
17         Houston Texans     9       7    0        No     No  2014
25     Indianapolis Colts    11       5    0        No     No  2014
2    Jacksonville Jaguars     3      13    0        No     No  2014
18     Kansas City Chiefs     9       7    0        No     No  2014
3       Las Vegas Raiders     3      13    0        No     No  2014
19   Los Angeles Chargers     9       7    0        No     No  2014
8        Los Angeles Rams     6      10    0        No     No  2014
14         Miami Dolphins     8       8    0        No     No  2014
12      Minnesota Vikings     7       9    0        No     No  2014
30   New England Patriots    12       4    0       Yes    Yes  2014
13     New Orleans Saints     7       9    0        No     No  2014
9         New York Giants     6      10    0        No     No  2014
4           New York Jets     4      12    0        No     No  2014
22    Philadelphia Eagles    10       6    0        No     No  2014
26    Pittsburgh Steelers    11       5    0        No     No  2014
15    San Francisco 49ers     8       8    0        No     No  2014
31       Seattle Seahawks    12       4    0       Yes     No  2014
0    Tampa Bay Buccaneers     2      14    0        No     No  2014
1        Tennessee Titans     2      14    0        No     No  2014
5   Washington Commanders     4      12    0        No     No  2014

### Reorder Columns

In [67]:
NFL_2014_wl = NFL_2014_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [68]:
NFL_2014_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
23  Arizona Cardinals    11       5    0        No     No  2014
7     Atlanta Falcons     6      10    0        No     No  2014
20   Baltimore Ravens    10       6    0        No     No  2014
16      Buffalo Bills     9       7    0        No     No  2014
10  Carolina Panthers     7       8    1        No     No  2014

### Save Dataset to Mac for future merging

In [69]:
NFL_2014_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2014_wl.csv')

## Import Next Dataset 2015 Win/Loss Record

In [55]:
wl2015 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2015.csv')

In [56]:
wl2015.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Cleveland Browns,3,13,0,0.188,278,432,-154,2 - 6 - 0,1 - 7 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,1 - 3 - 0,3L,1 - 4 - 0,2015
1,Tennessee Titans,3,13,0,0.188,299,423,-124,1 - 7 - 0,2 - 6 - 0,1 - 5 - 0,0.167,1 - 11 - 0,0.083,2 - 2 - 0,4L,1 - 4 - 0,2015
2,Dallas Cowboys,4,12,0,0.250,275,374,-99,1 - 7 - 0,3 - 5 - 0,3 - 3 - 0,0.500,3 - 9 - 0,0.250,1 - 3 - 0,4L,1 - 4 - 0,2015
3,Los Angeles Chargers,4,12,0,0.250,320,398,-78,3 - 5 - 0,1 - 7 - 0,0 - 6 - 0,0.000,3 - 9 - 0,0.250,1 - 3 - 0,2L,1 - 4 - 0,2015
4,Baltimore Ravens,5,11,0,0.313,328,401,-73,3 - 5 - 0,2 - 6 - 0,3 - 3 - 0,0.500,4 - 8 - 0,0.333,1 - 3 - 0,1L,1 - 4 - 0,2015

### Put Dataset in Team Ascending Order

In [57]:
wl2015_sort = wl2015.sort_values("NFL Team")

In [58]:
wl2015_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
30,Arizona Cardinals,13,3,0,0.813,489,313,176,6 - 2 - 0,7 - 1 - 0,4 - 2 - 0,0.667,10 - 2 - 0,0.833,3 - 1 - 0,1L,4 - 1 - 0,2015
16,Atlanta Falcons,8,8,0,0.500,339,345,-6,4 - 4 - 0,4 - 4 - 0,1 - 5 - 0,0.167,5 - 7 - 0,0.417,3 - 1 - 0,1L,2 - 3 - 0,2015
4,Baltimore Ravens,5,11,0,0.313,328,401,-73,3 - 5 - 0,2 - 6 - 0,3 - 3 - 0,0.500,4 - 8 - 0,0.333,1 - 3 - 0,1L,1 - 4 - 0,2015
17,Buffalo Bills,8,8,0,0.500,379,359,20,5 - 3 - 0,3 - 5 - 0,4 - 2 - 0,0.667,7 - 5 - 0,0.583,1 - 3 - 0,2W,3 - 2 - 0,2015
31,Carolina Panthers,15,1,0,0.938,500,308,192,8 - 0 - 0,7 - 1 - 0,5 - 1 - 0,0.833,11 - 1 - 0,0.917,4 - 0 - 0,1W,4 - 1 - 0,2015

### Keep only NFL Team, Win, Lose, Tie, and Year columns

In [61]:
wl2015_keep = wl2015_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [62]:
wl2015_keep.head()

             NFL Team   W   L  T  Year
30  Arizona Cardinals  13   3  0  2015
16    Atlanta Falcons   8   8  0  2015
4    Baltimore Ravens   5  11  0  2015
17      Buffalo Bills   8   8  0  2015
31  Carolina Panthers  15   1  0  2015

### Rename Columns

In [63]:
NFL_2015_wl = wl2015_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [64]:
NFL_2015_wl.head()

                 Team  Wins  Losses  Tie  Year
30  Arizona Cardinals    13       3    0  2015
16    Atlanta Falcons     8       8    0  2015
4    Baltimore Ravens     5      11    0  2015
17      Buffalo Bills     8       8    0  2015
31  Carolina Panthers    15       1    0  2015

### Add Superbowl and SB Win columns

In [70]:
newcolumns15 = {'Superbowl':['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2015_wl = NFL_2015_wl.assign(**newcolumns15)

In [71]:
NFL_2015_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
30      Arizona Cardinals    13       3    0  2015        No     No
16        Atlanta Falcons     8       8    0  2015        No     No
4        Baltimore Ravens     5      11    0  2015        No     No
17          Buffalo Bills     8       8    0  2015        No     No
31      Carolina Panthers    15       1    0  2015       Yes     No
7           Chicago Bears     6      10    0  2015        No     No
27     Cincinnati Bengals    12       4    0  2015        No     No
0        Cleveland Browns     3      13    0  2015        No     No
2          Dallas Cowboys     4      12    0  2015        No     No
28         Denver Broncos    12       4    0  2015       Yes    Yes
11          Detroit Lions     7       9    0  2015        No     No
21      Green Bay Packers    10       6    0  2015        No     No
19         Houston Texans     9       7    0  2015        No     No
18     Indianapolis Colts     8       8    0  2015        No     No
5    Jacksonville Jaguars     5      11    0  2015        No     No
25     Kansas City Chiefs    11       5    0  2015        No     No
12      Las Vegas Raiders     7       9    0  2015        No     No
3    Los Angeles Chargers     4      12    0  2015        No     No
13       Los Angeles Rams     7       9    0  2015        No     No
8          Miami Dolphins     6      10    0  2015        No     No
26      Minnesota Vikings    11       5    0  2015        No     No
29   New England Patriots    12       4    0  2015        No     No
14     New Orleans Saints     7       9    0  2015        No     No
9         New York Giants     6      10    0  2015        No     No
22          New York Jets    10       6    0  2015        No     No
15    Philadelphia Eagles     7       9    0  2015        No     No
23    Pittsburgh Steelers    10       6    0  2015        No     No
6     San Francisco 49ers     5      11    0  2015        No     No
24       Seattle Seahawks    10       6    0  2015        No     No
10   Tampa Bay Buccaneers     6      10    0  2015        No     No
1        Tennessee Titans     3      13    0  2015        No     No
20  Washington Commanders     9       7    0  2015        No     No

### Reorder Columns

In [72]:
NFL_2015_wl = NFL_2015_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [73]:
NFL_2015_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
30  Arizona Cardinals    13       3    0        No     No  2015
16    Atlanta Falcons     8       8    0        No     No  2015
4    Baltimore Ravens     5      11    0        No     No  2015
17      Buffalo Bills     8       8    0        No     No  2015
31  Carolina Panthers    15       1    0       Yes     No  2015

 ### Save Dataset to Mac for future merging

In [74]:
NFL_2015_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2015_wl.csv')

## Import Next Dataset 2016 Win/Loss Record

In [75]:
wl2016 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2016.csv')

In [76]:
wl2016.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Cleveland Browns,1,15,0,0.063,264,452,-188,1 - 7 - 0,0 - 8 - 0,0 - 6 - 0,0.000,1 - 11 - 0,0.083,0 - 4 - 0,1L,1 - 4 - 0,2016
1,San Francisco 49ers,2,14,0,0.125,309,480,-171,1 - 7 - 0,1 - 7 - 0,2 - 4 - 0,0.333,2 - 10 - 0,0.167,0 - 4 - 0,1L,1 - 4 - 0,2016
2,Chicago Bears,3,13,0,0.188,279,399,-120,3 - 5 - 0,0 - 8 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,0 - 4 - 0,4L,1 - 4 - 0,2016
3,Jacksonville Jaguars,3,13,0,0.188,318,400,-82,2 - 6 - 0,1 - 7 - 0,2 - 4 - 0,0.333,2 - 10 - 0,0.167,1 - 3 - 0,1L,1 - 4 - 0,2016
4,Los Angeles Rams,4,12,0,0.250,224,394,-170,1 - 7 - 0,3 - 5 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,7L,0 - 5 - 0,2016

### Put Dataset in Team Ascending Order

In [77]:
wl2016_sort = wl2016.sort_values("NFL Team")

In [78]:
wl2016_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
9,Arizona Cardinals,7,8,1,0.469,418,362,56,4 - 3 - 1,3 - 5 - 0,4 - 1 - 1,0.750,6 - 5 - 1,0.542,1 - 3 - 0,2W,3 - 2 - 0,2016
25,Atlanta Falcons,11,5,0,0.688,540,406,134,5 - 3 - 0,6 - 2 - 0,5 - 1 - 0,0.833,9 - 3 - 0,0.750,2 - 2 - 0,4W,4 - 1 - 0,2016
13,Baltimore Ravens,8,8,0,0.500,343,321,22,6 - 2 - 0,2 - 6 - 0,4 - 2 - 0,0.667,7 - 5 - 0,0.583,1 - 3 - 0,2L,2 - 3 - 0,2016
10,Buffalo Bills,7,9,0,0.438,399,378,21,4 - 4 - 0,3 - 5 - 0,1 - 5 - 0,0.167,4 - 8 - 0,0.333,3 - 1 - 0,2L,1 - 4 - 0,2016
7,Carolina Panthers,6,10,0,0.375,369,402,-33,4 - 4 - 0,2 - 6 - 0,1 - 5 - 0,0.167,5 - 7 - 0,0.417,1 - 3 - 0,2L,2 - 3 - 0,2016

### Keep only NFL Team, Win, Lose, Tie and Year Columns

In [79]:
wl2016_keep = wl2016_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [80]:
wl2016_keep.head()

             NFL Team   W   L  T  Year
9   Arizona Cardinals   7   8  1  2016
25    Atlanta Falcons  11   5  0  2016
13   Baltimore Ravens   8   8  0  2016
10      Buffalo Bills   7   9  0  2016
7   Carolina Panthers   6  10  0  2016

### Rename columns

In [81]:
NFL_2016_wl = wl2016_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [82]:
NFL_2016_wl.head()

                 Team  Wins  Losses  Tie  Year
9   Arizona Cardinals     7       8    1  2016
25    Atlanta Falcons    11       5    0  2016
13   Baltimore Ravens     8       8    0  2016
10      Buffalo Bills     7       9    0  2016
7   Carolina Panthers     6      10    0  2016

### Add Superbowl and SB Win columns

In [83]:
newcolumns16 = {'Superbowl':['No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'Yes','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'Yes','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2016_wl = NFL_2016_wl.assign(**newcolumns16)

In [84]:
NFL_2016_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
9       Arizona Cardinals     7       8    1  2016        No     No
25        Atlanta Falcons    11       5    0  2016       Yes     No
13       Baltimore Ravens     8       8    0  2016        No     No
10          Buffalo Bills     7       9    0  2016        No     No
7       Carolina Panthers     6      10    0  2016        No     No
2           Chicago Bears     3      13    0  2016        No     No
8      Cincinnati Bengals     6       9    1  2016        No     No
0        Cleveland Browns     1      15    0  2016        No     No
30         Dallas Cowboys    13       3    0  2016        No     No
17         Denver Broncos     9       7    0  2016        No     No
18          Detroit Lions     9       7    0  2016        No     No
22      Green Bay Packers    10       6    0  2016        No     No
19         Houston Texans     9       7    0  2016        No     No
14     Indianapolis Colts     8       8    0  2016        No     No
3    Jacksonville Jaguars     3      13    0  2016        No     No
28     Kansas City Chiefs    12       4    0  2016        No     No
29      Las Vegas Raiders    12       4    0  2016        No     No
5    Los Angeles Chargers     5      11    0  2016        No     No
4        Los Angeles Rams     4      12    0  2016        No     No
23         Miami Dolphins    10       6    0  2016        No     No
15      Minnesota Vikings     8       8    0  2016        No     No
31   New England Patriots    14       2    0  2016       Yes    Yes
11     New Orleans Saints     7       9    0  2016        No     No
26        New York Giants    11       5    0  2016        No     No
6           New York Jets     5      11    0  2016        No     No
12    Philadelphia Eagles     7       9    0  2016        No     No
27    Pittsburgh Steelers    11       5    0  2016        No     No
1     San Francisco 49ers     2      14    0  2016        No     No
24       Seattle Seahawks    10       5    1  2016        No     No
20   Tampa Bay Buccaneers     9       7    0  2016        No     No
21       Tennessee Titans     9       7    0  2016        No     No
16  Washington Commanders     8       7    1  2016        No     No

### Reorder Columns

In [85]:
NFL_2016_wl = NFL_2016_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [86]:
NFL_2016_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
9   Arizona Cardinals     7       8    1        No     No  2016
25    Atlanta Falcons    11       5    0       Yes     No  2016
13   Baltimore Ravens     8       8    0        No     No  2016
10      Buffalo Bills     7       9    0        No     No  2016
7   Carolina Panthers     6      10    0        No     No  2016

### Save Dataset to Mac for future merging

In [87]:
NFL_2016_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2016_wl.csv')

## Import Dataset 2017 Win/Loss Record

In [3]:
wl2017 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2017.csv')

In [4]:
wl2017.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Cleveland Browns,0,16,0,0.000,234,410,-176,0 - 8 - 0,0 - 8 - 0,0 - 6 - 0,0.000,0 - 12 - 0,0.000,0 - 4 - 0,16L,0 - 5 - 0,2017
1,New York Giants,3,13,0,0.188,246,388,-142,2 - 6 - 0,1 - 7 - 0,1 - 5 - 0,0.167,1 - 11 - 0,0.083,2 - 2 - 0,1W,1 - 4 - 0,2017
2,Houston Texans,4,12,0,0.250,338,436,-98,3 - 5 - 0,1 - 7 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,1 - 3 - 0,6L,0 - 5 - 0,2017
3,Indianapolis Colts,4,12,0,0.250,263,404,-141,3 - 5 - 0,1 - 7 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,1W,1 - 4 - 0,2017
4,Chicago Bears,5,11,0,0.313,264,320,-56,3 - 5 - 0,2 - 6 - 0,0 - 6 - 0,0.000,1 - 11 - 0,0.083,4 - 0 - 0,1L,2 - 3 - 0,2017

### Put Dataset in Team Ascending Order

In [7]:
wl2017_sort = wl2017.sort_values("NFL Team")

In [8]:
wl2017_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
14,Arizona Cardinals,8,8,0,0.500,295,361,-66,5 - 3 - 0,3 - 5 - 0,3 - 3 - 0,0.500,5 - 7 - 0,0.417,3 - 1 - 0,2W,3 - 2 - 0,2017
22,Atlanta Falcons,10,6,0,0.625,353,315,38,5 - 3 - 0,5 - 3 - 0,4 - 2 - 0,0.667,9 - 3 - 0,0.750,1 - 3 - 0,1W,3 - 2 - 0,2017
15,Baltimore Ravens,9,7,0,0.563,395,303,92,5 - 3 - 0,4 - 4 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,2 - 2 - 0,1L,3 - 2 - 0,2017
16,Buffalo Bills,9,7,0,0.563,302,359,-57,6 - 2 - 0,3 - 5 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,2 - 2 - 0,1W,3 - 2 - 0,2017
25,Carolina Panthers,11,5,0,0.688,363,327,36,6 - 2 - 0,5 - 3 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,4 - 0 - 0,1L,3 - 2 - 0,2017

### Keep only NFL Team, Win, Lose, Tie and Year columns

In [9]:
wl2017_keep = wl2017_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [10]:
wl2017_keep.head()

             NFL Team   W  L  T  Year
14  Arizona Cardinals   8  8  0  2017
22    Atlanta Falcons  10  6  0  2017
15   Baltimore Ravens   9  7  0  2017
16      Buffalo Bills   9  7  0  2017
25  Carolina Panthers  11  5  0  2017

### Rename columns

In [11]:
NFL_2017_wl = wl2017_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [12]:
NFL_2017_wl.head()

                 Team  Wins  Losses  Tie  Year
14  Arizona Cardinals     8       8    0  2017
22    Atlanta Falcons    10       6    0  2017
15   Baltimore Ravens     9       7    0  2017
16      Buffalo Bills     9       7    0  2017
25  Carolina Panthers    11       5    0  2017

### Add Superbowl and SB Columns

In [13]:
newcolumns17 = {'Superbowl':['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'Yes','No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2017_wl = NFL_2017_wl.assign(**newcolumns17)

In [14]:
NFL_2017_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
14      Arizona Cardinals     8       8    0  2017        No     No
22        Atlanta Falcons    10       6    0  2017        No     No
15       Baltimore Ravens     9       7    0  2017        No     No
16          Buffalo Bills     9       7    0  2017        No     No
25      Carolina Panthers    11       5    0  2017        No     No
4           Chicago Bears     5      11    0  2017        No     No
11     Cincinnati Bengals     7       9    0  2017        No     No
0        Cleveland Browns     0      16    0  2017        No     No
17         Dallas Cowboys     9       7    0  2017        No     No
5          Denver Broncos     5      11    0  2017        No     No
18          Detroit Lions     9       7    0  2017        No     No
12      Green Bay Packers     7       9    0  2017        No     No
2          Houston Texans     4      12    0  2017        No     No
3      Indianapolis Colts     4      12    0  2017        No     No
23   Jacksonville Jaguars    10       6    0  2017        No     No
24     Kansas City Chiefs    10       6    0  2017        No     No
8       Las Vegas Raiders     6      10    0  2017        No     No
19   Los Angeles Chargers     9       7    0  2017        No     No
26       Los Angeles Rams    11       5    0  2017        No     No
9          Miami Dolphins     6      10    0  2017        No     No
28      Minnesota Vikings    13       3    0  2017        No     No
29   New England Patriots    13       3    0  2017       Yes     No
27     New Orleans Saints    11       5    0  2017        No     No
1         New York Giants     3      13    0  2017        No     No
6           New York Jets     5      11    0  2017        No     No
30    Philadelphia Eagles    13       3    0  2017       Yes    Yes
31    Pittsburgh Steelers    13       3    0  2017        No     No
10    San Francisco 49ers     6      10    0  2017        No     No
20       Seattle Seahawks     9       7    0  2017        No     No
7    Tampa Bay Buccaneers     5      11    0  2017        No     No
21       Tennessee Titans     9       7    0  2017        No     No
13  Washington Commanders     7       9    0  2017        No     No

### Reorder Columns

In [15]:
NFL_2017_wl = NFL_2017_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [16]:
NFL_2017_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
14  Arizona Cardinals     8       8    0        No     No  2017
22    Atlanta Falcons    10       6    0        No     No  2017
15   Baltimore Ravens     9       7    0        No     No  2017
16      Buffalo Bills     9       7    0        No     No  2017
25  Carolina Panthers    11       5    0        No     No  2017

### Save Dataset to Mac for future merging

In [31]:
NFL_2017_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2017_wl.csv')

## Import Next Dataset 2018 Win/Loss Record

In [18]:
wl2018 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2018.csv')

In [19]:
wl2018.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Arizona Cardinals,3,13,0,0.188,225,425,-200,1 - 7 - 0,2 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,0 - 4 - 0,4L,1 - 4 - 0,2018
1,Las Vegas Raiders,4,12,0,0.250,290,467,-177,3 - 5 - 0,1 - 7 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,1 - 3 - 0,1L,2 - 3 - 0,2018
2,New York Jets,4,12,0,0.250,333,441,-108,2 - 6 - 0,2 - 6 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,1 - 3 - 0,3L,1 - 4 - 0,2018
3,San Francisco 49ers,4,12,0,0.250,342,435,-93,4 - 4 - 0,0 - 8 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,2 - 2 - 0,2L,2 - 3 - 0,2018
4,Jacksonville Jaguars,5,11,0,0.313,245,316,-71,3 - 5 - 0,2 - 6 - 0,1 - 5 - 0,0.167,4 - 8 - 0,0.333,1 - 3 - 0,1L,2 - 3 - 0,2018

### Put Dataset in Team Ascending Order

In [20]:
wl2018_sort = wl2018.sort_values("NFL Team")

In [21]:
wl2018_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Arizona Cardinals,3,13,0,0.188,225,425,-200,1 - 7 - 0,2 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,0 - 4 - 0,4L,1 - 4 - 0,2018
12,Atlanta Falcons,7,9,0,0.438,414,423,-9,4 - 4 - 0,3 - 5 - 0,4 - 2 - 0,0.667,7 - 5 - 0,0.583,0 - 4 - 0,3W,3 - 2 - 0,2018
21,Baltimore Ravens,10,6,0,0.625,389,287,102,6 - 2 - 0,4 - 4 - 0,3 - 3 - 0,0.500,8 - 4 - 0,0.667,2 - 2 - 0,3W,4 - 1 - 0,2018
7,Buffalo Bills,6,10,0,0.375,269,374,-105,4 - 4 - 0,2 - 6 - 0,2 - 4 - 0,0.333,4 - 8 - 0,0.333,2 - 2 - 0,1W,2 - 3 - 0,2018
13,Carolina Panthers,7,9,0,0.438,376,382,-6,5 - 3 - 0,2 - 6 - 0,2 - 4 - 0,0.333,5 - 7 - 0,0.417,2 - 2 - 0,1W,1 - 4 - 0,2018

### Keep only NFL Team, Win, Lose, Tie and Year columns

In [22]:
wl2018_keep = wl2018_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [23]:
wl2018_keep.head()

             NFL Team   W   L  T  Year
0   Arizona Cardinals   3  13  0  2018
12    Atlanta Falcons   7   9  0  2018
21   Baltimore Ravens  10   6  0  2018
7       Buffalo Bills   6  10  0  2018
13  Carolina Panthers   7   9  0  2018

### Rename columns

In [24]:
NFL_2018_wl = wl2018_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [25]:
NFL_2018_wl.head()

                 Team  Wins  Losses  Tie  Year
0   Arizona Cardinals     3      13    0  2018
12    Atlanta Falcons     7       9    0  2018
21   Baltimore Ravens    10       6    0  2018
7       Buffalo Bills     6      10    0  2018
13  Carolina Panthers     7       9    0  2018

### Add Superbowl and SB Win Columns

In [42]:
newcolumns18 = {'Superbowl':['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'Yes', 'No', 'No', 'Yes','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'Yes','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2018_wl = NFL_2018_wl.assign(**newcolumns18)

In [28]:
NFL_2018_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
0       Arizona Cardinals     3      13    0  2018        No     No
12        Atlanta Falcons     7       9    0  2018        No     No
21       Baltimore Ravens    10       6    0  2018        No     No
7           Buffalo Bills     6      10    0  2018        No     No
13      Carolina Panthers     7       9    0  2018        No     No
27          Chicago Bears    12       4    0  2018        No     No
8      Cincinnati Bengals     6      10    0  2018        No     No
14       Cleveland Browns     7       8    1  2018        No     No
22         Dallas Cowboys    10       6    0  2018        No     No
9          Denver Broncos     6      10    0  2018        No     No
10          Detroit Lions     6      10    0  2018        No     No
11      Green Bay Packers     6       9    1  2018        No     No
25         Houston Texans    11       5    0  2018        No     No
23     Indianapolis Colts    10       6    0  2018        No     No
4    Jacksonville Jaguars     5      11    0  2018        No     No
28     Kansas City Chiefs    12       4    0  2018        No     No
1       Las Vegas Raiders     4      12    0  2018        No     No
29   Los Angeles Chargers    12       4    0  2018        No     No
30       Los Angeles Rams    13       3    0  2018        No     No
15         Miami Dolphins     7       9    0  2018        No     No
17      Minnesota Vikings     8       7    1  2018        No     No
26   New England Patriots    11       5    0  2018       Yes     No
31   New Orleans Saints *    13       3    0  2018        No     No
5         New York Giants     5      11    0  2018        No     No
2           New York Jets     4      12    0  2018        No     No
18    Philadelphia Eagles     9       7    0  2018       Yes    Yes
19    Pittsburgh Steelers     9       6    1  2018        No     No
3     San Francisco 49ers     4      12    0  2018        No     No
24       Seattle Seahawks    10       6    0  2018        No     No
6    Tampa Bay Buccaneers     5      11    0  2018        No     No
20       Tennessee Titans     9       7    0  2018        No     No
16  Washington Commanders     7       9    0  2018        No     No

### Reorder Columns

In [43]:
NFL_2018_wl = NFL_2018_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [44]:
NFL_2018_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
0   Arizona Cardinals     3      13    0        No     No  2018
12    Atlanta Falcons     7       9    0        No     No  2018
21   Baltimore Ravens    10       6    0        No     No  2018
7       Buffalo Bills     6      10    0        No     No  2018
13  Carolina Panthers     7       9    0        No     No  2018

### Save Dataset to Mac for future merging

In [45]:
NFL_2018_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2018_wl.csv')

## Import Next Dataset 2019 Win/Loss Record

In [33]:
wl2019 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2019.csv')

In [34]:
wl2019.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Cincinnati Bengals,2,14,0,0.125,279,420,-141,2 - 6 - 0,0 - 8 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,0 - 4 - 0,1W,2 - 3 - 0,2019
1,Detroit Lions,3,12,1,0.219,341,423,-82,2 - 6 - 0,1 - 6 - 1,0 - 6 - 0,0.000,2 - 9 - 1,0.208,1 - 3 - 0,9L,0 - 5 - 0,2019
2,Washington Commanders,3,13,0,0.188,266,435,-169,1 - 7 - 0,2 - 6 - 0,0 - 6 - 0,0.000,2 - 10 - 0,0.167,1 - 3 - 0,4L,1 - 4 - 0,2019
3,New York Giants,4,12,0,0.250,341,451,-110,2 - 6 - 0,2 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,1L,2 - 3 - 0,2019
4,Arizona Cardinals,5,10,1,0.344,361,442,-81,2 - 5 - 1,3 - 5 - 0,1 - 5 - 0,0.167,3 - 8 - 1,0.292,2 - 2 - 0,1L,2 - 3 - 0,2019

### Put Dataset in Team Ascending Order

In [35]:
wl2019_sort = wl2019.sort_values("NFL Team")

In [36]:
wl2019_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
4,Arizona Cardinals,5,10,1,0.344,361,442,-81,2 - 5 - 1,3 - 5 - 0,1 - 5 - 0,0.167,3 - 8 - 1,0.292,2 - 2 - 0,1L,2 - 3 - 0,2019
10,Atlanta Falcons,7,9,0,0.438,381,399,-18,3 - 5 - 0,4 - 4 - 0,4 - 2 - 0,0.667,6 - 6 - 0,0.500,1 - 3 - 0,4W,4 - 1 - 0,2019
31,Baltimore Ravens,14,2,0,0.875,531,282,249,7 - 1 - 0,7 - 1 - 0,5 - 1 - 0,0.833,10 - 2 - 0,0.833,4 - 0 - 0,12W,5 - 0 - 0,2019
22,Buffalo Bills,10,6,0,0.625,314,259,55,4 - 4 - 0,6 - 2 - 0,3 - 3 - 0,0.500,7 - 5 - 0,0.583,3 - 1 - 0,2L,2 - 3 - 0,2019
5,Carolina Panthers,5,11,0,0.313,340,470,-130,2 - 6 - 0,3 - 5 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,3 - 1 - 0,8L,0 - 5 - 0,2019

### Keep only NFL Team, Win, Lose, Tie and Year columns

In [38]:
wl2019_keep = wl2019_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [39]:
wl2019_keep.head()

             NFL Team   W   L  T  Year
4   Arizona Cardinals   5  10  1  2019
10    Atlanta Falcons   7   9  0  2019
31   Baltimore Ravens  14   2  0  2019
22      Buffalo Bills  10   6  0  2019
5   Carolina Panthers   5  11  0  2019

### Rename Columns

In [40]:
NFL_2019_wl = wl2019_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [41]:
NFL_2019_wl.head()

                 Team  Wins  Losses  Tie  Year
4   Arizona Cardinals     5      10    1  2019
10    Atlanta Falcons     7       9    0  2019
31   Baltimore Ravens    14       2    0  2019
22      Buffalo Bills    10       6    0  2019
5   Carolina Panthers     5      11    0  2019

### Add Superbowl and SB Wins Columns

In [46]:
newcolumns19 = {'Superbowl':['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2019_wl = NFL_2019_wl.assign(**newcolumns19)

In [47]:
NFL_2019_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
4       Arizona Cardinals     5      10    1  2019        No     No
10        Atlanta Falcons     7       9    0  2019        No     No
31       Baltimore Ravens    14       2    0  2019        No     No
22          Buffalo Bills    10       6    0  2019        No     No
5       Carolina Panthers     5      11    0  2019        No     No
16          Chicago Bears     8       8    0  2019        No     No
0      Cincinnati Bengals     2      14    0  2019        No     No
8        Cleveland Browns     6      10    0  2019        No     No
17         Dallas Cowboys     8       8    0  2019        No     No
11         Denver Broncos     7       9    0  2019        No     No
1           Detroit Lions     3      12    1  2019        No     No
28      Green Bay Packers    13       3    0  2019        No     No
23         Houston Texans    10       6    0  2019        No     No
12     Indianapolis Colts     7       9    0  2019        No     No
9    Jacksonville Jaguars     6      10    0  2019        No     No
26     Kansas City Chiefs    12       4    0  2019       Yes    Yes
13      Las Vegas Raiders     7       9    0  2019        No     No
6    Los Angeles Chargers     5      11    0  2019        No     No
19       Los Angeles Rams     9       7    0  2019        No     No
7          Miami Dolphins     5      11    0  2019        No     No
24      Minnesota Vikings    10       6    0  2019        No     No
27   New England Patriots    12       4    0  2019        No     No
29     New Orleans Saints    13       3    0  2019        No     No
3         New York Giants     4      12    0  2019        No     No
14          New York Jets     7       9    0  2019        No     No
20    Philadelphia Eagles     9       7    0  2019        No     No
18    Pittsburgh Steelers     8       8    0  2019        No     No
30    San Francisco 49ers    13       3    0  2019       Yes     No
25       Seattle Seahawks    11       5    0  2019        No     No
15   Tampa Bay Buccaneers     7       9    0  2019        No     No
21       Tennessee Titans     9       7    0  2019        No     No
2   Washington Commanders     3      13    0  2019        No     No

### Reorder Columns

In [48]:
NFL_2019_wl = NFL_2019_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [49]:
NFL_2019_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
4   Arizona Cardinals     5      10    1        No     No  2019
10    Atlanta Falcons     7       9    0        No     No  2019
31   Baltimore Ravens    14       2    0        No     No  2019
22      Buffalo Bills    10       6    0        No     No  2019
5   Carolina Panthers     5      11    0        No     No  2019

### Save Dataset to Mac for future merging

In [50]:
NFL_2019_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2019_wl.csv')

## Import Next Dataset 2020 Win/Loss Record

In [51]:
wl2020 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2020.csv')

In [52]:
wl2020.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Jacksonville Jaguars,1,15,0,0.063,306,492,-186,1 - 7 - 0,0 - 8 - 0,1 - 5 - 0,0.167,1 - 11 - 0,0.083,0 - 4 - 0,15L,0 - 5 - 0,2020
1,New York Jets,2,14,0,0.125,243,457,-214,1 - 7 - 0,1 - 7 - 0,0 - 6 - 0,0.000,1 - 11 - 0,0.083,1 - 3 - 0,1L,2 - 3 - 0,2020
2,Atlanta Falcons,4,12,0,0.250,396,414,-18,2 - 6 - 0,2 - 6 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,2 - 2 - 0,5L,0 - 5 - 0,2020
3,Cincinnati Bengals,4,11,1,0.281,311,424,-113,3 - 5 - 0,1 - 6 - 1,1 - 5 - 0,0.167,4 - 8 - 0,0.333,0 - 3 - 1,1L,2 - 3 - 0,2020
4,Houston Texans,4,12,0,0.250,384,464,-80,2 - 6 - 0,2 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,1 - 3 - 0,5L,0 - 5 - 0,2020

### Put Dataset in Team Ascending Order

In [53]:
wl2020_sort = wl2020.sort_values("NFL Team")

In [54]:
wl2020_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
16,Arizona Cardinals,8,8,0,0.500,410,367,43,4 - 4 - 0,4 - 4 - 0,2 - 4 - 0,0.333,6 - 6 - 0,0.500,2 - 2 - 0,2L,2 - 3 - 0,2020
2,Atlanta Falcons,4,12,0,0.250,396,414,-18,2 - 6 - 0,2 - 6 - 0,1 - 5 - 0,0.167,2 - 10 - 0,0.167,2 - 2 - 0,5L,0 - 5 - 0,2020
21,Baltimore Ravens,11,5,0,0.688,468,303,165,5 - 3 - 0,6 - 2 - 0,4 - 2 - 0,0.667,7 - 5 - 0,0.583,4 - 0 - 0,5W,5 - 0 - 0,2020
29,Buffalo Bills,13,3,0,0.813,501,375,126,7 - 1 - 0,6 - 2 - 0,6 - 0 - 0,1.000,10 - 2 - 0,0.833,3 - 1 - 0,6W,5 - 0 - 0,2020
6,Carolina Panthers,5,11,0,0.313,350,402,-52,2 - 6 - 0,3 - 5 - 0,1 - 5 - 0,0.167,4 - 8 - 0,0.333,1 - 3 - 0,1L,1 - 4 - 0,2020

### Keep Only Win, Lose, Tie and Year Columns

In [55]:
wl2020_keep = wl2020_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [56]:
wl2020_keep.head()

             NFL Team   W   L  T  Year
16  Arizona Cardinals   8   8  0  2020
2     Atlanta Falcons   4  12  0  2020
21   Baltimore Ravens  11   5  0  2020
29      Buffalo Bills  13   3  0  2020
6   Carolina Panthers   5  11  0  2020

### Rename Columns

In [70]:
NFL_2020_wl = wl2020_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [58]:
NFL_2020_wl.head()

                 Team  Wins  Losses  Tie  Year
16  Arizona Cardinals     8       8    0  2020
2     Atlanta Falcons     4      12    0  2020
21   Baltimore Ravens    11       5    0  2020
29      Buffalo Bills    13       3    0  2020
6   Carolina Panthers     5      11    0  2020

### Add Superbowl and SB Wins Columns

In [59]:
newcolumns20 = {'Superbowl':['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'No', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No']}
NFL_2020_wl = NFL_2020_wl.assign(**newcolumns20)

In [60]:
NFL_2020_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
16      Arizona Cardinals     8       8    0  2020        No     No
2         Atlanta Falcons     4      12    0  2020        No     No
21       Baltimore Ravens    11       5    0  2020        No     No
29          Buffalo Bills    13       3    0  2020        No     No
6       Carolina Panthers     5      11    0  2020        No     No
17          Chicago Bears     8       8    0  2020        No     No
3      Cincinnati Bengals     4      11    1  2020        No     No
22       Cleveland Browns    11       5    0  2020        No     No
9          Dallas Cowboys     6      10    0  2020        No     No
7          Denver Broncos     5      11    0  2020        No     No
8           Detroit Lions     5      11    0  2020        No     No
30      Green Bay Packers    13       3    0  2020        No     No
4          Houston Texans     4      12    0  2020        No     No
23     Indianapolis Colts    11       5    0  2020        No     No
0    Jacksonville Jaguars     1      15    0  2020        No     No
31     Kansas City Chiefs    14       2    0  2020       Yes     No
18      Las Vegas Raiders     8       8    0  2020        No     No
12   Los Angeles Chargers     7       9    0  2020        No     No
19       Los Angeles Rams    10       6    0  2020        No     No
20         Miami Dolphins    10       6    0  2020        No     No
13      Minnesota Vikings     7       9    0  2020        No     No
14   New England Patriots     7       9    0  2020        No     No
26     New Orleans Saints    12       4    0  2020        No     No
10        New York Giants     6      10    0  2020        No     No
1           New York Jets     2      14    0  2020        No     No
5     Philadelphia Eagles     4      11    1  2020        No     No
27    Pittsburgh Steelers    12       4    0  2020        No     No
11    San Francisco 49ers     6      10    0  2020        No     No
28       Seattle Seahawks    12       4    0  2020        No     No
24   Tampa Bay Buccaneers    11       5    0  2020       Yes    Yes
25       Tennessee Titans    11       5    0  2020        No     No
15  Washington Commanders     7       9    0  2020        No     No

### Reorder Columns

In [61]:
NFL_2020_wl = NFL_2020_wl[['Team', 'Wins', 'Losses', 'Tie', 'Superbowl', 'SB Win', 'Year']]

In [62]:
NFL_2020_wl.head()

                 Team  Wins  Losses  Tie Superbowl SB Win  Year
16  Arizona Cardinals     8       8    0        No     No  2020
2     Atlanta Falcons     4      12    0        No     No  2020
21   Baltimore Ravens    11       5    0        No     No  2020
29      Buffalo Bills    13       3    0        No     No  2020
6   Carolina Panthers     5      11    0        No     No  2020

### Save Dataset to Mac for future merging

In [63]:
NFL_2020_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2020_wl.csv')

## Import Next Dataset 2021 Win/Loss Record

In [64]:
wl2021 = pd.read_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_league_2021.csv')

In [65]:
wl2021.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
0,Detroit Lions,3,13,1,0.206,325,467,-142,3 - 5 - 0,0 - 8 - 1,2 - 4 - 0,0.333,3 - 9 - 0,0.250,0 - 4 - 1,1W,2 - 3 - 0,2021
1,Jacksonville Jaguars,3,14,0,0.176,253,457,-204,3 - 6 - 0,0 - 8 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,0 - 5 - 0,1W,1 - 4 - 0,2021
2,Houston Texans,4,13,0,0.235,280,452,-172,2 - 7 - 0,2 - 6 - 0,3 - 3 - 0,0.500,4 - 8 - 0,0.333,0 - 5 - 0,2L,2 - 3 - 0,2021
3,New York Giants,4,13,0,0.235,258,416,-158,3 - 5 - 0,1 - 8 - 0,1 - 5 - 0,0.167,3 - 9 - 0,0.250,1 - 4 - 0,6L,0 - 5 - 0,2021
4,New York Jets,4,13,0,0.235,310,504,-194,3 - 6 - 0,1 - 7 - 0,0 - 6 - 0,0.000,4 - 8 - 0,0.333,0 - 5 - 0,2L,1 - 4 - 0,2021

### Put Dataset in Team Ascending Order

In [66]:
wl2021_sort = wl2021.sort_values("NFL Team")

In [67]:
wl2021_sort.head()

,NFL Team,W,L,T,PCT,PF,PA,Net Pts,Home,Road,Div,Pct,Conf,Pct.1,Non-Conf,Strk,Last 5,Year
24,Arizona Cardinals,11,6,0,0.647,449,366,83,3 - 5 - 0,8 - 1 - 0,4 - 2 - 0,0.667,7 - 5 - 0,0.583,4 - 1 - 0,1L,1 - 4 - 0,2021
7,Atlanta Falcons,7,10,0,0.412,313,459,-146,2 - 6 - 0,5 - 4 - 0,2 - 4 - 0,0.333,4 - 8 - 0,0.333,3 - 2 - 0,2L,2 - 3 - 0,2021
11,Baltimore Ravens,8,9,0,0.471,387,392,-5,5 - 4 - 0,3 - 5 - 0,1 - 5 - 0,0.167,5 - 7 - 0,0.417,3 - 2 - 0,6L,0 - 5 - 0,2021
25,Buffalo Bills,11,6,0,0.647,483,289,194,6 - 3 - 0,5 - 3 - 0,5 - 1 - 0,0.833,7 - 5 - 0,0.583,4 - 1 - 0,4W,4 - 1 - 0,2021
5,Carolina Panthers,5,12,0,0.294,304,404,-100,2 - 6 - 0,3 - 6 - 0,2 - 4 - 0,0.333,3 - 9 - 0,0.250,2 - 3 - 0,7L,0 - 5 - 0,2021

### Keep only Win, Lose, Tie and Year Columns

In [68]:
wl2021_keep = wl2021_sort[['NFL Team', 'W', 'L', 'T', 'Year']]

In [69]:
wl2021_keep.head()

             NFL Team   W   L  T  Year
24  Arizona Cardinals  11   6  0  2021
7     Atlanta Falcons   7  10  0  2021
11   Baltimore Ravens   8   9  0  2021
25      Buffalo Bills  11   6  0  2021
5   Carolina Panthers   5  12  0  2021

### Rename Columns

In [71]:
NFL_2021_wl = wl2021_keep.rename(columns ={"NFL Team": "Team", "W": "Wins","L": "Losses", "T": "Tie"})

In [72]:
NFL_2021_wl.head()

                 Team  Wins  Losses  Tie  Year
24  Arizona Cardinals    11       6    0  2021
7     Atlanta Falcons     7      10    0  2021
11   Baltimore Ravens     8       9    0  2021
25      Buffalo Bills    11       6    0  2021
5   Carolina Panthers     5      12    0  2021

### Add Superbowl and SB Wins Columns

In [73]:
newcolumns21 = {'Superbowl':['No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'Yes', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No'],
                'SB Win' : ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                     'No', 'Yes', 'No', 'No', 'No','No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']}
NFL_2021_wl = NFL_2021_wl.assign(**newcolumns21)

In [74]:
NFL_2021_wl.head(32)

                     Team  Wins  Losses  Tie  Year Superbowl SB Win
24      Arizona Cardinals    11       6    0  2021        No     No
7         Atlanta Falcons     7      10    0  2021        No     No
11       Baltimore Ravens     8       9    0  2021        No     No
25          Buffalo Bills    11       6    0  2021        No     No
5       Carolina Panthers     5      12    0  2021        No     No
6           Chicago Bears     6      11    0  2021        No     No
20     Cincinnati Bengals    10       7    0  2021       Yes     No
12       Cleveland Browns     8       9    0  2021        No     No
26         Dallas Cowboys    12       5    0  2021        No     No
8          Denver Broncos     7      10    0  2021        No     No
0           Detroit Lions     3      13    1  2021        No     No
30      Green Bay Packers    13       4    0  2021        No     No
2          Houston Texans     4      13    0  2021        No     No
14     Indianapolis Colts     9       8    0  2021        No     No
1    Jacksonville Jaguars     3      14    0  2021        No     No
27     Kansas City Chiefs    12       5    0  2021        No     No
21      Las Vegas Raiders    10       7    0  2021        No     No
15   Los Angeles Chargers     9       8    0  2021        No     No
28       Los Angeles Rams    12       5    0  2021       Yes    Yes
16         Miami Dolphins     9       8    0  2021        No     No
13      Minnesota Vikings     8       9    0  2021        No     No
22   New England Patriots    10       7    0  2021        No     No
17     New Orleans Saints     9       8    0  2021        No     No
3         New York Giants     4      13    0  2021        No     No
4           New York Jets     4      13    0  2021        No     No
18    Philadelphia Eagles     9       8    0  2021        No     No
19    Pittsburgh Steelers     9       7    1  2021        No     No
23    San Francisco 49ers    10       7    0  2021        No     No
9        Seattle Seahawks     7      10    0  2021        No     No
31   Tampa Bay Buccaneers    13       4    0  2021        No     No
29       Tennessee Titans    12       5    0  2021        No     No
10  Washington Commanders     7      10    0  2021        No     No

### Save Dataset to Mac for future merging

In [75]:
NFL_2021_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2021_wl.csv')

## Create 2022 Win/Loss/SB Dataset

In [87]:
wl2022 = {
    'Team': ['Arizona Cardinals', 'Atlanta Falcons', 'Baltimore Ravens', 'Buffalo Bills', 'Carolina Panthers',
             'Chicago Bears', 'Cincinnati Bengals', 'Cleveland Browns', 'Dallas Cowboys', 'Denver Broncos', 
             'Detroit Lions', 'Green Bay Packers', 'Houston Texans', 'Indianapolis Colts', 'Jacksonville Jaguars',
             'Kansas City Chiefs', 'Las Vegas Raiders', 'Los Angeles Chargers', 'Los Angeles Rams', 'Miami Dolphins',
             'Minnesota Vikings', 'New England Patriots', 'New Orleans Saints', 'New York Giants', 'New York Jets', 
             'Philadelphia Eagles', 'Pittsburgh Steelers', 'San Francisco 49ers', 'Seattle Seahawks', 'Tampa Bay Buccaneers',
             'Tennessee Titans', 'Washington Commanders'],
    'Wins': [4, 7, 10, 13, 7, 3, 12, 7, 12, 5, 9, 8, 3, 4, 9, 14, 6, 10, 5, 9, 13, 8, 7, 9, 7, 14, 9, 13, 9, 8, 7, 8],
    'Losses': [13, 10, 7, 3, 10, 14, 4, 10, 5, 12, 8, 9, 13, 12, 8, 3, 11, 7, 12, 8, 4, 9, 10, 7, 10, 3, 8, 4, 8, 9, 10, 8],
    'Superbowl': ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                  'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'No'],
    'SB Wins': ['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 
                'Yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']
}

In [88]:
NFL_2022_wl = pd.DataFrame(wl2022)

In [89]:
datayear22 = 2022
NFL_2022_wl['Year'] = datayear22

In [90]:
NFL_2022_wl.head(32)

                     Team  Wins  Losses Superbowl SB Wins  Year
0       Arizona Cardinals     4      13        No      No  2022
1         Atlanta Falcons     7      10        No      No  2022
2        Baltimore Ravens    10       7        No      No  2022
3           Buffalo Bills    13       3        No      No  2022
4       Carolina Panthers     7      10        No      No  2022
5           Chicago Bears     3      14        No      No  2022
6      Cincinnati Bengals    12       4        No      No  2022
7        Cleveland Browns     7      10        No      No  2022
8          Dallas Cowboys    12       5        No      No  2022
9          Denver Broncos     5      12        No      No  2022
10          Detroit Lions     9       8        No      No  2022
11      Green Bay Packers     8       9        No      No  2022
12         Houston Texans     3      13        No      No  2022
13     Indianapolis Colts     4      12        No      No  2022
14   Jacksonville Jaguars     9       8        No      No  2022
15     Kansas City Chiefs    14       3       Yes     Yes  2022
16      Las Vegas Raiders     6      11        No      No  2022
17   Los Angeles Chargers    10       7        No      No  2022
18       Los Angeles Rams     5      12        No      No  2022
19         Miami Dolphins     9       8        No      No  2022
20      Minnesota Vikings    13       4        No      No  2022
21   New England Patriots     8       9        No      No  2022
22     New Orleans Saints     7      10        No      No  2022
23        New York Giants     9       7        No      No  2022
24          New York Jets     7      10        No      No  2022
25    Philadelphia Eagles    14       3       Yes      No  2022
26    Pittsburgh Steelers     9       8        No      No  2022
27    San Francisco 49ers    13       4        No      No  2022
28       Seattle Seahawks     9       8        No      No  2022
29   Tampa Bay Buccaneers     8       9        No      No  2022
30       Tennessee Titans     7      10        No      No  2022
31  Washington Commanders     8       8        No      No  2022

## Save Dataset to Mac for future merging

In [91]:
NFL_2022_wl.to_csv('/Users/admin/Desktop/Final_Project/NFL_win_lose/NFL_2022_wl.csv')